@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');


@include nb-install-component() {
  * {
    font-family: 'Prompt', sans-serif;
  }
  
  a {
    color: #FD841F;
    text-decoration: none;
  }
  
  .hospital {
    font-size: 16px;
    color: #FD841F;
  }
  
  .copyright {
    color: white;
    font-size: 16px;
  }

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .socials {
    font-size: 2rem;

    a {
      padding: 0.4rem;
      color: nb-theme(text-hint-color);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(text-basic-color);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .hospital {
      font-size: 14px;
      color: #FD841F;
    }
    
    .copyright {
      color: white;
      font-size: 14px;
    }
  }

  @include media-breakpoint-down(is) {
    .hospital {
      white-space: pre;
      font-size: 12px;
      color: #FD841F;
    }
    .copyright {
      color: white;
      font-size: 12px;
    }
    .socials {
      font-size: 1.5rem;
    }
  }
}
