
<div class="card">
<h1 id="title" class="title">เข้าสู่ระบบ</h1>
<p class="sub-title">Hello! Log in with your email.</p>

<!-- <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert> -->

<!-- <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert> -->

<div class="container">
    <form  aria-labelledby="title">

      <div class="row">
        <div class="col-25">
          <label class="label" for="input-email">Email address:</label>
        </div>

        <div class="col-75">
          <input type="text" placeholder="Email address">
        </div>
      </div>
        <!-- <ng-container >
          <p class="caption status-danger" >
            Email is required!
          </p>
          <p class="caption status-danger">
            Email should be the real one!
          </p>
        </ng-container> -->


      <div class="row">
        <div class="col-25">
          <label class="label" for="input-password"><br>Password:</label>
        </div>

        <div class="col-75">
          <input type="text" placeholder="Password">
        </div>
        <a class="forgot-password caption-2" routerLink="../request-password">Forgot Password</a>
      </div>

      <br>

<!--
        <ng-container>
          <p class="caption status-danger" >
            Password is required!
          </p>
          <p class="caption status-danger">
          Password should contain
            from {{ getConfigValue('forms.validation.password.minLength') }}
            to {{ getConfigValue('forms.validation.password.maxLength') }}
            characters
          </p>
        </ng-container> -->

      <div style="text-align:center;"><a routerLink="../dashboard"><button class="buttonhome button2"
        role="button"> Log In </button></a></div>
    </form>
  </div>
</div>
