 @import "~bootstrap/scss/mixins/breakpoints";
 @import "~@nebular/theme/styles/global/breakpoints";
 @import "../../styles/themes";
 @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');
 
  * {
    font-family: 'Prompt', sans-serif;
  }
  
 @include nb-install-component() {
   display: flex;
   justify-content: space-between;
   width: 100%;

   .parentDiv {
    display: block;
    height: 110px;
    width: 400px;
    font-size: 30px;
}

    .icon {
        margin-left: 10px;
        float: right;
    }

   .text {
    font-size: 14px;
    display: inline;
    color: white;
   }

   i.icon{
    font-size: 40px;
    color: white;
   }

   span.inline{
    display: inline-block;;
   }

   a:link {
    font-size: 16px;
    text-decoration: none;
   }

   .logohos {
     width: auto;
     height: 45px;
  }

   .logo-container {
     display: flex;
     align-items: center;
     width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
   }

   img.userac {
     width: 40px;
     height: 40px;
   }

   nb-action {
     height: auto;
     display: flex;
    align-content: center;
   }

   nb-user {
    cursor: pointer;
   }

   ::ng-deep nb-search button {
     padding: 0 !important;
  }

   .header-container {
     display: flex;
     align-items: center;
     width: auto;

     .sidebar-toggle {
       @include nb-ltr(padding-right, 1.25rem);
       @include nb-rtl(padding-left, 1.25rem);
       text-decoration: none;
       color: nb-theme(text-hint-color);
       nb-icon {
         font-size: 1.75rem;
       }
     }

     .logo {
       padding: 0 1.25rem;
       font-size: 1.75rem;
       @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
       white-space: nowrap;
      text-decoration: none;
    }
   }

   @include media-breakpoint-down(sm) {
     .control-item {
      display: none;
     }
     .user-action {
       border: none;
       padding: 0;
    }
   }

   @include media-breakpoint-down(is) {
     nb-select {
       display: none;    }
   }

 }

//  @media (min-width: 2560px) {
//   .logohos {
//       width: auto;
//       height: 45px;
//   }

//   i.icon{
//     font-size: 40px;
//     color: white;
//   }
  
//   .text {
//     font-size: 14px;
//     display: inline;
//     color: white;
//   }
//  }

//  @media (min-width: 1920px){
//   .logohos {
//     width: auto;
//     height: 45px;
//   }

//   i.icon{
//     font-size: 40px;
//     color: white;
//   }

//   .text {
//     font-size: 14px;
//     display: inline;
//     color: white;
//   }
// }

//  @media (min-width: 1440px) {
//   .logohos {
//     width: auto;
//     height: 40px;
//   }

//   i.icon{
//     font-size: 38px;
//     color: white;
//   }

//   .text {
//     font-size: 13px;
//     display: inline;
//     color: white;
//   }
//  }

//  @media (min-width: 1024px) {
//   .logohos {
//     width: auto;
//     height: 38px;
//   }

//   i.icon{
//     font-size: 38px;
//     color: white;
//   }

//   .text {
//     font-size: 13px;
//     display: inline;
//     color: white;
//   }
//  }

//  @media (min-width: 768px) {
//   .logohos {
//     width: auto;
//     height: 36px;
//   }

//   i.icon{
//     font-size: 36px;
//     color: white;
//   }

//   .text {
//     font-size: 11px;
//     display: inline;
//     color: white;
//   }
//  }

//  @media (min-width: 425px) {
//   .logohos {
//     width: auto;
//     height: 32px;
//   }

//   i.icon{
//     margin-left: 100px;
//     font-size: 33px;
//     color: white;
//   }

//   .text {
//     visibility: hidden;
//   }
//  }

//  @media (min-width: 375px) {
//   .logohos {
//     width: auto;
//     height: 30px;
//   }

//   i.icon{
//     margin-left: 60px;
//     font-size: 33px;
//     color: white;
//   }

//   .text {
//     visibility: hidden;
//   }
//  }

//  @media (min-width: 320px) {
//   .logohos {
//     width: auto;
//     height: 27px;
//   }

//   i.icon{
//     margin-left: 17px;
//     font-size: 30px;
//     color: white;
//   }

//   .text {
//     visibility: hidden;
//   }
//  }